body {
	text-align: center;
}
h1 {
	color: red;
	font-size: 50px;
	border-width: 2px;
	border-style: dotted;
	display: inline;
	padding: 10px;
	border-color: blue;
}
#canvas{
	visibility: hidden;
}
#select {
	font-weight: bold;
	font-size: 24px;
}